body,html{
    background: white;
    padding:0;
    margin: 0;
    height: 100%;
    width:100%;
}

.header{
    background-color: #384954;
    padding-top: 0px;
    padding-top:30px;
    min-height:70px;
    border-bottom:#f2d91b 5px solid;
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 40px;
}

.picturesGrid {
display: inline-grid;
grid-template-columns: auto auto auto auto auto;
padding: 40px;
grid-area: pic;
margin-right:20%;
}

.grid-item {
background-color: rgba(255, 255, 255, 0.8);
border: 5px solid rgba(0, 0, 0, 0.8);
padding: 5px;
}

div.container {
text-align: center;
}

img{
width: 100%;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonDisplay{
position:fixed; 
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 2px 2px;
cursor: pointer;
top: 20%;
right: 10%;

}
    
.button{
padding:20px;
border-radius: 60%;
text-align: center;
}

p{
text-align: center;
}

.piechart{
    width: 1200px; 
    height: 800px;
    background-color:white;
}
